.hero {
  margin-top: 4rem;
  gap: 3rem;
  justify-content: center;
}

.MyImage {
  width: 250px;
  height: 250px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
  -webkit-animation: MyImage 8s ease-in-out infinite;
  animation: MyImage 8s ease-in-out infinite;
}
@keyframes MyImage {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
section .first_section {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  position: relative;
}

section .first_section .title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.5rem, 10vw, 2.4rem);
  font-weight: 700;
  color: var(--title);
  margin: 24px 0;
  line-height: 1.2;
}
section .first_section .subtitle {
  color: var(--title);
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  font-size: 0.9rem;
}
section .first_section .icons {
  display: flex;
  gap: 0.5rem;
  margin-top: 10px;
  align-items: center;
}
section .first_section .icon {
  color: var(--subtitle);
  font-weight: bold;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

section .first_section .icon:hover {
  font-size: 1.35rem;
  color: var(--whiteblue);
  cursor: pointer;
}

section .first_section .tech {
  margin-top: 30px;
}
section .first_section .tech.flex {
  gap: 20px;
}
section .first_section .tech .tech-title {
  border-right: 2px solid var(--title);
  color: var(--title);
  font-family: Mulish, sans-serif;
  font-weight: 500;
  padding-right: 2rem;
  font-size: 0.9rem;
  white-space: nowrap;
}
section .first_section .tech .tech-skills.flex {
  gap: 20px;
}
section .first_section .tech .tech-skills li img {
  cursor: pointer;
}

section .first_section .cv-btn{
  margin-top: 20px;
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.9;
  border-radius: 0.4rem;
  transition: 0.5s linear;
  border: 1px solid var(--whiteblue);
}
section .first_section .cv-btn:hover{
  opacity: 1;
}
@media (max-width: 900px) {
  .hero.flex {
    flex-direction: column-reverse;
    align-items: center;
  }
  section .first_section .tech .tech-skills.flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  section .first_section .tech .tech-title {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
   width: fit-content;
   border-right: none;
   padding-right: 0;
  }
  section .first_section .tech.flex {
    flex-direction: column;
  }
 
}
