header.flex {
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding-inline: 30px;
}
header.flex .logo{
  color: var(--title);
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 1.5rem;
}
header.flex ul.menu {
  display: flex;
  gap: 4rem;
  list-style: none;

}
header.flex ul.menu li a {
  text-decoration: none;
  color: var(--title);
  font-size: 1rem;
  font-weight: 300;
  transition: 0.3s linear;
  font-family: 'Inter', sans-serif;
}
header.flex ul li a:hover {
  color: var(--whiteblue);
}
header.flex .model {
  display: none;
  margin-left: 2rem;
}



header.flex .menu_res {
  position: fixed;
  inset: 0;
  background-color: var(--primary);
  z-index: 11;
  backdrop-filter: blur(8px);
}

header.flex .menu_res ul {
  list-style: none;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--innerColor);
}

header.flex .menu_res ul li {
  border-bottom: 1px solid var(--divider);
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
}
header.flex .menu_res ul li:last-child {
  border-bottom: none;
}

header.flex .menu_res ul li a {
  color: var(--title);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
  transition: 0.3s linear;
}
header.flex .menu_res ul li a:hover {
  color: var(--whiteblue);
}

header.flex .menu_res ul li:first-child {
  text-align: right;
  border: none;
  padding-bottom: 0;
  padding-top: 0.2rem;
}
/* IconButton */
header .icon-menu,
header button.mode {

  color: var(--title);
  font-size: 1.5rem;
  font-weight: 300;
}

header button.mode {
  margin-right:3rem;
}
header li button.icon-clear {
  font-size: 1.6rem;
  transition: 0.5s linear;
  color: var(--title);
}
header li button.icon-clear:hover {
  color: crimson;
  font-weight: bold;
  rotate: 180deg;
}
@media (max-width: 768px) {
    header.flex ul.menu {
      display: none;
    }
    header.flex .model {
      display: block;
      
    }
  }