@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #000;
  --bgColor: #000;
  --innerColor: #18181b;
  --divider: #252529;
  --nav: #222225;
  --whiteblue: rgb(93, 188, 252);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --icon-hover: #d4d4d8;
  --button: rgba(255, 255, 255, 0.527);
  --background-color-alt: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-alt: #4db5ff66;
}

.light {
  --button: rgba(26, 25, 25, 0.733);
  --primary: rgb(236, 236, 236);
  --innerColor: rgb(255, 255, 255);
  --divider: rgb(202, 202, 202, 0.518);
  --title: #2d2e32;
  --subtitle: rgb(82 82 91);
  --whiteblue: rgb(0, 149, 246);
  --nav: rgb(253, 253, 253);
  --icon-hover: #333;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #8e8e8e #fff;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #18181b;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.flex {
  display: flex;
  align-items: center;
}
body {
  color: #fff;
  background-color: var(--primary);
}
li {
  list-style: none;
}
a {
  color: var(--title);
  text-decoration: none;
}
.border {
  border: 1px solid red;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 1.75rem;
  }

  .scroll2Top {
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0.6;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0 1.75rem;
  }
}
.app{
  position: relative;
}
.divider {
  border-bottom: 1px solid var(--divider);
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
button {
  all: unset;
}

button:hover {
  cursor: pointer;
}
button:active {
  scale: 0.95;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.scroll2Top {
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  font-size: 1.5rem;
  transition: 3s;
  color: var(--nav);
}
.scroll2Top:hover {
  background-color: rgba(25, 118, 210);
}

.mode {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 30px;
}
.mode .icon-sun {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.mode.flex {
  justify-content: center;
  align-items: center;
}
.center-image{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.icon-image{
  width: 60%;
  height: 60%;
  object-fit: contain;

}
